<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Config>
  <Database>
    <ServerName>myserver</ServerName>
    <DatabaseName>mydatabase</DatabaseName>
    <UserName>myusername</UserName>
    <UserPass>mypassword</UserPass>
  </Database>  
  <Vendor>
    <URL>https://your solar dashboard url with token</URL>
    <Title>Dashboard - My Solar Company - Google Chrome</Title>
  </Vendor>
  <Fields>
    <SolarLevel>19</SolarLevel>
    <GridLevel>21</GridLevel>
    <BatteryLoad>23</BatteryLoad>
    <BatteryState>24</BatteryState>
    <LoadLevel>25</LoadLevel>
    <BatteryLevel>35</BatteryLevel>
  </Fields>
</Config>
